<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Automatic Photography Formatter</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../static/css/common.css" th:href="@{/css/common.css}" />
	<script type="text/javascript" src="../static/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
	<script type="text/javascript" src="../static/js/functions.js" th:src="@{/js/functions.js}"></script>
</head>
<body>
	<form action="#" th:action="@{/format}" th:object="${apfRequest}" method="post">
		<div class="web">
			<div class="container">
				<div class="div_header div_formatter_header shadow border_round">
					<span th:text="#{formatter.header.message}">Automatic Photography Formatter</span>
				</div>
				<div class="div_results div_formatter_results shadow border_round" id="resultContainerId" style="display: none">
					<div class="div_text_centered">
						<span th:text="#{formatter.results.text}">Results</span>
					</div>
					<div id="resultId">
						<ul th:each="result: *{results}">
							<li th:text="${result}"></li>
						</ul>
					</div>
				</div>
				<div class="div_results div_formatter_errors shadow border_round" id="errorContainerId" style="display: none">
					<div class="div_text_centered">
						<span th:text="#{formatter.errors.text}">Errors</span>
					</div>
					<div id="errorId">
						<ul th:each="error: *{errors}">
							<li th:text="${error}"></li>
						</ul>
					</div>
				</div>
				<div class="div_formatter_form">
					<div class="div_row">
						<div class="div_column div_column_1_2 shadow border_round">
							<div class="div_label">
								<label th:text="#{formatter.label.conversionType}">Conversion type:</label>
							</div>
							<div class="div_field">
								<select id="conversionTypeId" th:field="*{conversionType}" onchange="checkConversionType();">
									<option th:each="conversionType : ${conversionType.entrySet()}"
									        th:value="${conversionType.key}"
									        th:text="#{${'formatter.select.conversionType.' + conversionType.value}}">
									</option>
								</select>
							</div>
						</div>
					</div>
					<div class="div_row">
						<div class="div_column div_column_1_2 shadow border_round">
							<div class="div_label">
								<label th:text="#{formatter.label.inputFolder}">Input folder:</label>
							</div>
							<div class="div_field">
								<input type="text" th:field="*{inputFolder}" />
							</div>
						</div>
						<div class="div_column div_column_2_2 shadow border_round">
							<div class="div_label">
								<label th:text="#{formatter.label.inputFormat}">Input format:</label>
								<img src="../static/img/help.png" th:src="@{/img/help.png}" onclick="showFormatterHelp('inputFormatId');" class="help_formatter"></img>
							</div>
							<div class="div_field">
								<input type="text" th:field="*{inputFormat}" id="inputFormatId" />
							</div>
						</div>
					</div>
					<div class="div_row">
						<div class="div_column div_column_1_2 shadow border_round">
							<div class="div_label">
								<label th:text="#{formatter.label.outputFolder}">Output folder:</label>
							</div>
							<div class="div_field">
								<input type="text" th:field="*{outputFolder}" />
							</div>
						</div>
						<div class="div_column div_column_2_2 shadow border_round">
							<div class="div_label">
								<label th:text="#{formatter.label.outputFormat}">Output format:</label>
								<img src="../static/img/help.png" th:src="@{/img/help.png}" onclick="showFormatterHelp('outputFormatId');" class="help_formatter"></img>
							</div>
							<div class="div_field">
								<input type="text" th:field="*{outputFormat}" id="outputFormatId" />
							</div>
						</div>
					</div>
				</div>
				<div class="div_button_giant">
					<input type="submit" value="Convert" th:attr="value=#{formatter.button.convert}" class="button_giant shadow"></input>
				</div>
			</div>
			<div class="div_footer">
				<span th:text="${footerYear} + #{common.footer.message}">Footer message</span>
			</div>
		</div>
	</form>
	<div id="formatterHelpContainerId" style="display: none;">
		<input type="hidden" id="formatterHelpId"></input>
		<div class="blockLayer" onclick="hideFormatterHelp();"></div>
		<div class="popup div_popup_help_format shadow border_round">
			<div class="div_popup shadow">
				<table class="table_deployable">
					<thead id="datePatternTableHeaderId" onclick="showTableBody('datePatternTableHeaderId', 'datePatternTableBodyId', 'datePatternTableText');">
						<tr>
							<th colspan="4">
								<span id="datePatternTableTextAId">&#9660;</span>
								<span th:text="#{formatter.table.datePattern.header}">Date patterns</span>
								<span id="datePatternTableTextBId">&#9660;</span>
							</th>
						</tr>
					</thead>
					<tbody id="datePatternTableBodyId" style="display: none">
						<tr>
							<th th:text="#{formatter.table.datePattern.firstRow.pattern}">Pattern</th>
							<th th:text="#{formatter.table.datePattern.firstRow.component}">Date or time component</th>
							<th th:text="#{formatter.table.datePattern.firstRow.presentation}">Presentation</th>
							<th th:text="#{formatter.table.datePattern.firstRow.examples}">Examples</th>
						</tr>
						<tr class="table_row_odd">
							<td>G</td>
							<td th:text="#{formatter.table.datePattern.body.eraDesignator}">Era designator</td>
							<td th:text="#{formatter.table.datePattern.body.text}">Text</td>
							<td th:text="#{formatter.table.datePattern.body.eraDesignator.example}">AD</td>
						</tr>
						<tr class="table_row_even">
							<td>y</td>
							<td th:text="#{formatter.table.datePattern.body.year}">Year</td>
							<td th:text="#{formatter.table.datePattern.body.year}">Year</td>
							<td>1996; 96</td>
						</tr>
						<tr class="table_row_odd">
							<td>Y</td>
							<td th:text="#{formatter.table.datePattern.body.weekYear}">Week year</td>
							<td th:text="#{formatter.table.datePattern.body.year}">Year</td>
							<td>2009; 09</td>
						</tr>
						<tr class="table_row_even">
							<td>M</td>
							<td th:text="#{formatter.table.datePattern.body.monthYear}">Month in year</td>
							<td th:text="#{formatter.table.datePattern.body.month}">Month</td>
							<td th:text="#{formatter.table.datePattern.body.month.example}">July; Jul; 07</td>
						</tr>
						<tr class="table_row_odd">
							<td>w</td>
							<td th:text="#{formatter.table.datePattern.body.weekInYear}">Week in year</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>27</td>
						</tr>
						<tr class="table_row_even">
							<td>W</td>
							<td th:text="#{formatter.table.datePattern.body.weekInMonth}">Week in month</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>2</td>
						</tr>
						<tr class="table_row_odd">
							<td>D</td>
							<td th:text="#{formatter.table.datePattern.body.dayInYear}">Day in year</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>189</td>
						</tr>
						<tr class="table_row_even">
							<td>d</td>
							<td th:text="#{formatter.table.datePattern.body.dayInMonth}">Day in month</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>10</td>
						</tr>
						<tr class="table_row_odd">
							<td>F</td>
							<td th:text="#{formatter.table.datePattern.body.dayOfWeekInMonth}">Day of week in month</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>2</td>
						</tr>
						<tr class="table_row_even">
							<td>E</td>
							<td th:text="#{formatter.table.datePattern.body.dayNameInWeek}">Day name in week</td>
							<td th:text="#{formatter.table.datePattern.body.text}">Text</td>
							<td th:text="#{formatter.table.datePattern.body.dayNameInWeek.example}">Tuesday; Tue</td>
						</tr>
						<tr class="table_row_odd">
							<td>u</td>
							<td th:text="#{formatter.table.datePattern.body.dayNumberOfWeek}">Day number of week (1 = Monday, ..., 7 = Sunday)</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>1</td>
						</tr>
						<tr class="table_row_even">
							<td>a</td>
							<td th:text="#{formatter.table.datePattern.body.ampm}">Am/pm marker</td>
							<td th:text="#{formatter.table.datePattern.body.text}">Text</td>
							<td>PM</td>
						</tr>
						<tr class="table_row_odd">
							<td>H</td>
							<td th:text="#{formatter.table.datePattern.body.hourInDay0_23}">Hour in day (0-23)</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>0</td>
						</tr>
						<tr class="table_row_even">
							<td>k</td>
							<td th:text="#{formatter.table.datePattern.body.hourInDay1_24}">Hour in day (1-24)</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>24</td>
						</tr>
						<tr class="table_row_odd">
							<td>K</td>
							<td th:text="#{formatter.table.datePattern.body.hourInAmPm0_11}">Hour in am/pm (0-11)</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>0</td>
						</tr>
						<tr class="table_row_even">
							<td>h</td>
							<td th:text="#{formatter.table.datePattern.body.hourInAmPm1_12}">Hour in am/pm (1-12)</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>12</td>
						</tr>
						<tr class="table_row_odd">
							<td>m</td>
							<td th:text="#{formatter.table.datePattern.body.minuteInHour}">Minute in hour</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>30</td>
						</tr>
						<tr class="table_row_even">
							<td>s</td>
							<td th:text="#{formatter.table.datePattern.body.secondInMinute}">Second in minute</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>55</td>
						</tr>
						<tr class="table_row_odd">
							<td>S</td>
							<td th:text="#{formatter.table.datePattern.body.millisecond}">Millisecond</td>
							<td th:text="#{formatter.table.datePattern.body.number}">Number</td>
							<td>978</td>
						</tr>
						<tr class="table_row_even">
							<td>z</td>
							<td th:text="#{formatter.table.datePattern.body.timeZone}">Time zone</td>
							<td th:text="#{formatter.table.datePattern.body.generalTimeZone}">General time zone</td>
							<td>Pacific Standard Time; PST; GMT-08:00</td>
						</tr>
						<tr class="table_row_odd">
							<td>Z</td>
							<td th:text="#{formatter.table.datePattern.body.timeZone}">Time zone</td>
							<td th:text="#{formatter.table.datePattern.body.timeZone.rfc822}">RFC 822 time zone</td>
							<td>-0800</td>
						</tr>
						<tr class="table_row_even">
							<td>X</td>
							<td th:text="#{formatter.table.datePattern.body.timeZone}">Time zone</td>
							<td th:text="#{formatter.table.datePattern.body.timeZone.iso8601}">ISO 8601 time zone</td>
							<td>-08; -0800; -08:00</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="div_popup shadow">
				<table class="table_deployable">
					<thead id="datePatternExamplesTableHeaderId" onclick="showTableBody('datePatternExamplesTableHeaderId', 'datePatternExamplesTableBodyId', 'datePatternExamplesTableText');">
						<tr>
							<th colspan="2">
								<span id="datePatternExamplesTableTextAId">&#9660;</span>
								<span th:text="#{formatter.table.datePatternExamples.header}">Date patterns examples</span>
								<span id="datePatternExamplesTableTextBId">&#9660;</span>
							</th>
						</tr>
					</thead>
					<tbody id="datePatternExamplesTableBodyId" style="display: none">
						<tr>
							<th th:text="#{formatter.table.datePatternExamples.firstRow.pattern}">Date and time pattern</th>
							<th th:text="#{formatter.table.datePatternExamples.firstRow.result}">Result</th>
						</tr>
						<tr class="table_row_odd">
							<td th:text="#{formatter.table.datePatternExamples.example01.pattern}">"yyyy.MM.dd G 'at' HH:mm:ss z"</td>
							<td th:text="#{formatter.table.datePatternExamples.example01.result}">2001.07.04 AD at 12:08:56 PDT</td>
						</tr>
						<tr class="table_row_even">
							<td th:text="#{formatter.table.datePatternExamples.example02.pattern}">"EEE, MMM d, ''yy"</td>
							<td th:text="#{formatter.table.datePatternExamples.example02.result}">Wed, Jul 4, '01</td>
						</tr>
						<tr class="table_row_odd">
							<td th:text="#{formatter.table.datePatternExamples.example03.pattern}">"h:mm a"</td>
							<td th:text="#{formatter.table.datePatternExamples.example03.result}">12:08 PM</td>
						</tr>
						<tr class="table_row_even">
							<td th:text="#{formatter.table.datePatternExamples.example04.pattern}">"hh 'o''clock' a, zzzz"</td>
							<td th:text="#{formatter.table.datePatternExamples.example04.result}">12 o'clock PM, Pacific Daylight Time</td>
						</tr>
						<tr class="table_row_odd">
							<td th:text="#{formatter.table.datePatternExamples.example05.pattern}">"K:mm a, z"</td>
							<td th:text="#{formatter.table.datePatternExamples.example05.result}">0:08 PM, PDT</td>
						</tr>
						<tr class="table_row_even">
							<td th:text="#{formatter.table.datePatternExamples.example06.pattern}">"yyyyy.MMMMM.dd GGG hh:mm aaa"</td>
							<td th:text="#{formatter.table.datePatternExamples.example06.result}">02001.July.04 AD 12:08 PM</td>
						</tr>
						<tr class="table_row_odd">
							<td th:text="#{formatter.table.datePatternExamples.example07.pattern}">"EEE, d MMM yyyy HH:mm:ss Z"</td>
							<td th:text="#{formatter.table.datePatternExamples.example07.result}">Wed, 4 Jul 2001 12:08:56 -0700</td>
						</tr>
						<tr class="table_row_even">
							<td th:text="#{formatter.table.datePatternExamples.example08.pattern}">"yyMMddHHmmssZ"</td>
							<td th:text="#{formatter.table.datePatternExamples.example08.result}">010704120856-0700</td>
						</tr>
						<tr class="table_row_odd">
							<td th:text="#{formatter.table.datePatternExamples.example09.pattern}">"yyyy-MM-dd'T'HH:mm:ss.SSSZ"</td>
							<td th:text="#{formatter.table.datePatternExamples.example09.result}">2001-07-04T12:08:56.235-0700</td>
						</tr>
						<tr class="table_row_even">
							<td th:text="#{formatter.table.datePatternExamples.example10.pattern}">"yyyy-MM-dd'T'HH:mm:ss.SSSXXX"</td>
							<td th:text="#{formatter.table.datePatternExamples.example10.result}">2001-07-04T12:08:56.235-07:00</td>
						</tr>
						<tr class="table_row_odd">
							<td th:text="#{formatter.table.datePatternExamples.example11.pattern}">"YYYY-'W'ww-u"</td>
							<td th:text="#{formatter.table.datePatternExamples.example11.result}">2001-W27-3</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="div_popup div_known_patterns shadow border_round">
				<div class="div_label">Patrones conocidos:</div>
				<select onchange="loadPatternPopup(this.value);" id="patternLoaderSelectId">
					<option value="0">Selecciona un patrón o insértalo a mano...</option>
					<option value="">-</option>
					<option value="EXIF">EXIF</option>
					<option value="AND_EST">Android estándar</option>
					<option value="AND_MILI">Android con milisegundos</option>
					<option value="IPHONE_ESP">iPhone (hora con espacios)</option>
					<option value="IPHONE_PUN">iPhone (hora con puntos)</option>
					<option value="">-</option>
					<option value="SALIDA_EST">Salida estándar</option>
				</select>
				<div class="div_loaded_pattern">
					<input type="text" id="selectedPatternId"></input>
				</div>
			</div>
			<div class="div_popup div_button_giant">
				<input type="button" value="Cargar" class="button_giant shadow" onclick="loadPattern();"></input>
			</div>
		</div>
	</div>
</body>
</html>