<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Automatic Photography Formatter</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../static/css/common.css" th:href="@{/css/common.css}" />
</head>
<body>
	<form action="formatter.html" th:attr="action=@{/init}">
		<div class="web">
			<div class="container">
				<div class="div_header div_index_header shadow border_round text_shadow">
					<span th:text="#{welcome.header.message}">Welcome message</span>
				</div>
				<div class="div_button_giant">
					<input type="submit" value="Button" th:attr="value=#{welcome.button.start}" class="button_giant shadow"></input>
				</div>
			</div>
			<div class="div_footer">
				<span th:text="${footerYear} + #{common.footer.message}">Footer message</span>
			</div>
		</div>
	</form>
</body>
</html>